<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<div class="loader hidden">
<img class="loading-img" src="https://64.media.tumblr.com/910374af805860d44c42562b50045b2f/6acec305884c2fe7-17/s640x960/bd083672ef1650325377f87db7a084a2e65a486c.gifv">
</div>
<title>Succeesful Transaction</title>
<h1 class="h1-added" style="padding-top: 10%;">Succeesful Money Transaction</h1>
<h1 class="h1-added">Thank You For Being a Valued Customer.</h1>
<a href="/added" role="button" class="txn-button btn btn-primary btn-lg">Done</a><br>
<a class="history-a" href="/history" style="color: green;">View Your Transaction Details</a>